html, body {
    height: 100%;
}
body {
    background: #333;
    margin: 0;
    font-family: sans-serif;
    color: #333;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sudoku {
    border: 2px solid #bbb;
    display: flex;
    flex-wrap: wrap;
    height: 70%;
    margin: 40px 40px 30px 40px;
    width: 354px;
}

.boxGroup {
    border: 2px solid #bbb;
    display: flex;
    flex-wrap: wrap;
    width: 114px;
}

.box {
    background: #eee;
    border: 1px solid #bbb;
    height: 36px;
    line-height: 36px;
    position: relative;
    text-align: center;
    width: 36px;
}

.controls {
    text-align: center;
}

button {
    color: #333;
    background-color: #fff;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
select {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.option:before {
    font-size: 10px;
    position: absolute;
    opacity: 0.5;
}
.option_1:before {
    content: '1';
    top: -13px;
    left: 3px;
}
.option_2:before {
    content: '2';
    top: -13px;
    left: 16px;
}
.option_3:before {
    content: '3';
    top: -13px;
    left: 28px;
}
.option_4:before {
    content: '4';
    left: 3px;
}
.option_5:before {
    content: '5';
    left: 16px;
}
.option_6:before {
    content: '6';
    left: 28px;
}
.option_7:before {
    content: '7';
    left: 3px;
    top: 13px;
}
.option_8:before {
    content: '8';
    top: 13px;
    left: 16px;
}
.option_9:before {
    content: '9';
    top: 13px;
    left: 28px;
}